body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: "Helvetica Neue";
}

@media print {
  body {
    background-color: transparent;
    -webkit-print-color-adjust:exact;
  }
}
